<wm-page name="page1" data-ng-controller="Auto_SvOtCzHLHOController">
    <wm-content name="content1">
        <wm-button name="button1" class="btn-default" caption="Button" type="button" margin="unset 0.5em"></wm-button>
    </wm-content>
</wm-page>